 body {
  background-color: rgb(113, 110, 110);
  color: cyan;
  height: 100%;
  margin: 0;
}
.head .icon {
  width: 50px;
  height: 50px;
}
/* ----------------------------- 
   home Styles
   ----------------------------- */
.home-conteiner {
  margin-top: 5px;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  display: flex;
  align-items: center;
}

/* ----------------------------- 
   footer Styles
   ----------------------------- */
  



/* ----------------------------- 
   Navbar Styles
   ----------------------------- */
.navbar {
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  border: solid 1px grey;
  border-radius: 3px;
  width: 80%;
  position: relative;
  top: 100%;
  z-index: 9999;
}

.navbar-style .nav-link {
  font-size: large;
  transition: text-shadow 0.1ms linear;
  height: 50px;
  position: relative;
  color: grey !important;
  background-color: black;
}
/* ----------------------------- 
   Boton de favoritos
   ----------------------------- */
.navbar-style .dropdown {
  position: relative;
  display: inline-block;
}

.navbar-style .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-5px);
  transition: opacity 0.1s linear, transform 0.1s linear, visibility 0.1s;
  position: relative;
  min-width: auto;
  margin-top: 7px;
  background-color: black;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 0 !important;
  z-index: 500;
  pointer-events: visible;
}

.navbar-style .dropdown:hover .dropdown-menu,
.navbar-style .dropdown-menu:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* ----------------------------- 
   Contenido de favoritos
   ----------------------------- */

.navbar-style .dropdown-menu .dropdown-item {
  font-size: large;
  background-color: black !important;
  color: gray !important;
}

.nav-link:hover,
.dropdown-menu .dropdown-item:hover {
  color: white !important;
  text-shadow: 0px 0px 6px rgb(250, 239, 158) !important;
  position: relative;
}

/* ----------------------------- 
  ICONO O LOGO 
   ----------------------------- */

.navbar-style .navbar-brand {
  color: red;
}

/* ----------------------------- 
   Boton de busqueda
   ----------------------------- */

.navbar-style .btn {
  border-color: grey;
  border: 2px solid;
  color: grey;
  transition: text-shadow 0.3s ease-in-out;
}
.navbar-style .btn:hover {
  border: 2px solid;
  border-color: white !important;
  color: white !important;
  box-shadow: 0px 0px 10px rgb(250, 239, 158) !important;
  z-index: 1;
}

.navbar .form-control {
  background-color: black;
  color: white;
  border: 2px solid gray;
}

.navbar .form-control:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  box-shadow: 0px 0px 10px rgb(250, 239, 158) !important;
}

/* ----------------------------- 
   otros Styles
   ----------------------------- */
